.fxc-rotor {
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 310px;
    margin: 0 auto;
}
.fxc-rotor-list {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.fxc-rotor-slide {
    display: block;
    width: 100%;
    height: 100%;
}
.fxc-rotor-slide> a {
    display: block;
    width: 100%;
    height: 100%;
}
.fxc-rotor-slide {
    display: none;
}
.fxc-rotor-slide.is-active {
    display: block;
}
.fxc-rotor-pagination {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.fxc-rotor-pagination-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.fxc-rotor-pagination-item {
    display: inline-block;
    margin: 5px;
    padding: 0;
    line-height: 0;
}
.fxc-rotor-pagination-button {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #fff;
    background: #000;
    opacity: .5;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    cursor: pointer;
}
.fxc-rotor-pagination-button:hover,
.is-active .fxc-rotor-pagination-button {
    opacity: 1;
}

.fxc-rotor-navigation {}
.fxc-rotor-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.fxc-rotor-navigation-item {
    padding: 0;
    margin: -15px 0 0;
}
.fxc-rotor-navigation-button {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 2px solid #000;
    border-top: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    opacity: .5;
    text-indent:-999px;
}
.fxc-rotor-navigation-button:hover {
    opacity: 1;
}
.fxc-rotor-navigation-button-prev {
    transform: rotate(45deg);
    left: 0;
    border-right: 0;
}
.fxc-rotor-navigation-button-next {
    transform: rotate(-45deg);
    right: 0;
    border-left: 0;
}

/* Slides */

#weclome-bonus {
    background: url(https://www.fxclub.cn/sites/fxcn/files/images/front-page/welcome_960x310.jpg) no-repeat center;
    background-size: cover;
}
#delisious-bonus {
    background: url(https://www.fxclub.cn/sites/fxcn/files/images/front-page/bonuses-lp.jpg) no-repeat center;
    background-size: cover;
}
#trade-mt4 {
    background: url(https://www.fxclub.cn/sites/fxcn/files/images/front-page/main_desktop_mt.jpg) no-repeat center;
    background-size: cover;
}
